/*! ----- ОБЩАЯ ГРУППА ----- */

/* "Тело" страницы, содержащее основной контент */
body {

    /* Убираем внешние отступы */
    margin: 0;

    /* Задаём базовый шрифт для страницы */
    font-family: 'Montserrat', sans-serif;

    /* Задаём базовый размер шрифта для страницы */
    font-size: 15px;

    /* Задаём базовое расстояние между строками текста */
    line-height: 1.6;

    /* Задаём стандартный цвет для текста страницы */
    color: #333;
}

/* Сбрасываем внешние отступы у всех заголовков */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Все элементы страницы */
*,
*::before,
*::after {

    /* Теперь размеры элемента будут включать не только контент, но и отступы, границы и паддинги*/
    box-sizing: border-box;
}

/* Контейнер для установления максимальной ширины контента */
.container {

    /* Контент занимает 100% ширины контейнера */
    width: 100%;

    /* Максимальная ширина контейнера 1200px */
    max-width: 1200px;

    /* Выравниваем элементы по верху и центру */
    margin: 0 auto;
}

/*! ----- ГРУППА INTRO ----- */

/* Начальный (первый) блок страницы */
.intro {

    /* Делаем элемент флекс-контейнером */
    display: flex;

    /* Располагаем внутренние флекс-элементы вертикально */
    /* (Основная ось становится вертикальной) */
    flex-direction: column;

    /* Размещаем флекс-элементы по центру основной оси */
    justify-content: center;

    /* Занимает всю ширину родителя */
    width: 100%;

    /* Высота равна всей области просмотра */
    height: 100vh;

    /* Устанавливаем изображение в качестве фона, размещаем его по центру и убираем его повторы */
    background: url("../images/intro.jpg") center no-repeat;

    /* Фоновое изображение занимает всю доступную площадь, но не деформируется */
    background-size: cover;
}

/* Внутренний контейнер начального блока */
.intro__inner {

    /* Ширина элемента 100% */
    width: 100%;

    /* Максимальная ширина элемента 880px */
    max-width: 800px;

    /* Выравнивание по центру */
    margin: 0 auto;

    /* Располагаем элементы контейнера по центру */
    text-align: center;
}

/* Главный заголовок страницы (начальный блок) */
.intro__title {

    /* Цвет текста белый */
    color: #fff;

    /* Размер шрифта 150px */
    font-size: 110px;

    /* Толстое начертание текста */
    font-weight: 700;

    /* Все буквы в верхнем регистре */
    text-transform: uppercase;

    /* Расстояние между строками */
    line-height: 1;
}

/* Псевдоэлемент, идущий после заголовка */
/* (В данном случае, декоративная черта) */
.intro__title::after {

     /* Содержание псевдоэлемента (нужно добавлять в любом случае, чтобы элемент отображался) */
    content: "";

    /* Устанавливаем блочный формат элемента */
    display: block;

    /* Ширина элемента 60px */
    width: 60px;

    /* Высота элемента 3px */
    height: 3px;

    /* Выравниваем элемент по центру и делаем сверху и снизу отступы по 60px */
    margin: 60px auto;

    /* Цвет фона белый */
    background-color: #fff;
}

/* Подзаголовок (располагается над заголовком) */
.intro__suptitle {

    /* Внешний внутренний отступ 20px */
    margin-bottom: 20px;

    /* Другой шрифт */
    font-family: 'Kaushan Script', cursive;

    /* Размер шрифта 72px */
    font-size: 60px;

    /* Цвет текста белый */
    color: #fff;
}

/*! ----- ГРУППА HEADER ----- */

/* Верхнее меню (хэдер) */
.header {

    /* Ширина элемента 100% */
    width: 100%;

    /* Внутренний верхний отступ в 30px */
    padding-top: 30px;

    /* Абсолютное позиционирование элемента */
    position: absolute;

    /* Прижимаем элемент в правый верхний угол */
    top: 0;
    left: 0;
    right: 0;

    /* Помещаем элемент поверх всех других */
    z-index: 1000;
}

.header__inner {

    /* Превращаем элемент во флекс-контейнер */
    display: flex;

    /* Равномерно выравнить внутренние флекс-элементы по горизонтали */
    /* (Крайние элементы прижимаются к краям родителя) */
    justify-content: space-between;

    /* Размещаем внутренние флекс-элементы по центру горизонтальной оси */
    align-items: center;
}

/* Логотип хэдера */
.header__logo {

    /* Размер шрифта 30px */
    font-size: 30px;

    /* Толстое начертание */
    font-weight: 700;

    /* Белый цвет текста */
    color: #fff;
}

/*! ----- ГРУППА NAV ----- */

/* Меню навигации хэдера */
.nav {

    /* Размер шрифта 14px */
    font-size: 14px;

    /* Переводим весь текст в верхний регистр */
    text-transform: uppercase;
}

/* Ссылки меню навигации */
.nav__link {

    /* Преобразуем строчные элементы в блочные, стоящие в одном ряду */
    display: inline-block;

    /* Выравнить элементы по верхней части*/
    vertical-align: top;

    /* Боковые отступы в 15px */
    margin: 0 15px;

    /* Статичное позиционирование (в общем потоке), но с возможностью смещения начального положения */
    position: relative;

    /* Цвет текста белый */
    color: #fff;

    /* Убираем нижнее подчёркивание ссылки */
    text-decoration: none;

    /* Время линейной смены цвета */
    transition: color 0.1s linear;
}

/* Псевдоэлемент, идущий после ссылки меню навигации */
/* (В данном случае, нижние полоски под ссылками) */
.nav__link::after {

    /* Содержание псевдоэлемента (нужно добавлять в любом случае, чтобы элемент отображался) */
    content: "";

    /* Преобразуем элемент в блочный формат */
    display: block;

    /* Ширина 100% родительского элемента */
    width: 100%;

    /* Высота 3px */
    height: 3px;

    /* Делаем элемент полностью прозрачным */
    opacity: 0;

    /* Цвет фона */
    background-color: #fce38a;

    /* Абсолютное позиционирование элемента */
    position: absolute;

    /* Располагаем элемент в самом низу */
    top: 100%;

    /* Располагаем элемент слева */
    left: 0;

    /* Уровень приоритета наложения 1 */
    z-index: 1;

    /* Время линейной смены прозрачности */
    transition: opacity 0.1s linear;
}

/* Ссылки меню навигации при наведении курсора */
.nav__link:hover {

    /* Цвет текста */
    color: #fce38a;
}

/* Псевдоэлемент, идущий после ссылки меню навигации при наведении на него курсора */
/* (В данном случае, нижние полоски под ссылками) */
.nav__link:hover::after,
/* Активная ссылка (просто выделение первой ссылки по-умолчанию) */
.nav__link.active::after {

    /* Делаем элемент полностью непрозрачным */
    opacity: 1;
}

/* Активная ссылка (Просто выделение первой ссылки по-умолчанию) */
.nav__link.active {

    /* Цвет текста */
    color: #fce38a;
}

/*! ----- ГРУППА BUTTON ----- */

/* Кнопка */
.btn {

    /* Преобразуем строчные элементы в блочные, стоящие в одном ряду */
    display: inline-block;

    /* Выравнить элементы по верхней части*/
    vertical-align: top;

    /* Внутренние отступы */
    padding: 8px 30px;

    /* Белая сплошная граница шириной в 3px */
    border: 3px solid #fff;

    /* Размер шрифта 14px */
    font-size: 14px;

    /* Толстое начертание шрифта */
    font-weight: 700;

    /* Белый цвет текста */
    color: #fff;

    /* Весь текст в верхнем регистре */
    text-transform: uppercase;

    /* Убираем декоративные элементы текста  */
    text-decoration: none;

    /* Время линейной смены цвета фона и текста */
    transition: background 0.1s linear, color 0.1s linear;
}

/* Кнопка при наведении на неё курсора */
.btn:hover {

    /* Фон белый */
    background-color: #fff;

    /* Цвет текста чёрный */
    color: #333;
}

/*! ----- ГРУППА SLIDER ----- */

/* Слайдер в начальном блоке */
.slider {

    /* Ширина элемента 100% */
    width: 100%;

    /* Абсолютное позиционирование */
    position: absolute;

    /* Прижимаем элемент к нижнему левому углу */
    bottom: 0;
    left: 0;

    /* Уровень наложения 1 */
    z-index: 1;
}

/* Внутреннее содержание слайдера */
.slider__inner {

    /* Превращаем элемент во флекс-контейнер */
    display: flex;

    /* Равномерно выравнить внутренние флекс-элементы по горизонтали */
    /* (Крайние элементы прижимаются к краям родителя) */
    justify-content: space-between;
}

/* Элемент слайдера */
.slider__item {

    /* Ширина элемента 24% */
    width: 23%;

    /* Внутренние вертикальные отступы по 20px */
    padding: 20px 0;

    /* Статичное позиционирование (в общем потоке), но с возможностью смещения начального положения */
    position: relative;

    /* Верхняя граница элемента */
    border-top: 3px solid #fff;

    /* Непрозрачность элемента 70% */
    opacity: 0.7;

    /* Размер шрифта 18px */
    font-size: 18px;

    /* Цвет текста белый */
    color: #fff;

    /* Все буквы в верхнем регистре */
    text-transform: uppercase;
}

/* Активный элемент слайдера */
.slider__item.active {

    /* Непрозрачность элемента 100% */
    opacity: 1;
}

/* Псевдоэлемент, идущий перед активным слайдером */
/* (В данном случае, плоска прогресса над слайдером) */
.slider__item.active::before {

    /* Содержание псевдоэлемента */
    content: "";

    /* Устанавливаем блочное отображение элемента */
    display: block;

    /* Ширина элемента 70px */
    width: 70px;

    /* Высота элемента 3px */
    height: 3px;

    /* Цвет фона элемента */
    background-color: #f38181;

    /* Абсолютное позиционирование позиции */
    position: absolute;

    /* Расположение в вернем левом углу (чуть выше на 3px)*/
    top: -3px;
    left: 0;

    /* Уровень наложения 1 */
    z-index: 1;
}

/* Выделение номера слайдера */
.slider__num {

    /* Размер шрифта 24px */
    font-size: 24px;

    /* Жирное начертание текста */
    font-weight: 700;
}






