/* "Тело" страницы, содержащее основной контент */
body {

    /* Убираем внешние отступы */
    margin: 0;

    /* Задаём базовый шрифт для страницы */
    font-family: 'Montserrat', sans-serif;

    /* Задаём базовый размер шрифта для страницы */
    font-size: 15px;

    /* Задаём базовое расстояние между строками текста */
    line-height: 1.6;

    /* Задаём стандартный цвет для текста страницы */
    color: #333;
}

/* Сбрасываем внешние отступы у всех заголовков */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Все элементы страницы */
*,
*:before,
*:after {

    /* Теперь размеры элемента будут включать не только контент, но и отступы, границы и паддинги*/
    box-sizing: border-box;
}

/* Контейнер для установления максимальной ширины контента */
.container {

    /* Контент занимает 100% ширины контейнера */
    width: 100%;

    /* Максимальная ширина контейнера 1200px */
    max-width: 1200px;

    /* Выравниваем элементы по верху и центру */
    margin: 0 auto;
}

/* Начальный (первый) блок страницы */
.intro {

    /* Занимает всю ширину родителя */
    width: 100%;

    /* Высота равна всей области просмотра */
    height: 100vh;

    /* Устанавливаем изображение в качестве фона, размещаем его по центру и убираем его повторы */
    background: url("../images/intro.jpg") center no-repeat;

    /* Фоновое изображение занимает всю доступную площадь, но не деформируется */
    background-size: cover;
}


