/*! ----- ОБЩАЯ ГРУППА ----- */

/* "Тело" страницы, содержащее основной контент */
body {

    /* Убираем внешние отступы */
    margin: 0;

    /* Задаём базовый шрифт для страницы */
    font-family: 'Montserrat', sans-serif;

    /* Задаём базовый размер шрифта для страницы */
    font-size: 15px;

    /* Задаём базовое расстояние между строками текста */
    line-height: 1.6;

    /* Задаём стандартный цвет для текста страницы */
    color: #333;
}

/* Сбрасываем внешние отступы у всех заголовков */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Все элементы страницы */
*,
*::before,
*::after {

    /* Теперь размеры элемента будут включать не только контент, но и отступы, границы и паддинги*/
    box-sizing: border-box;
}

/* Разделительная черта */
hr {

    /* Блочное отображение элемента */
    display: block;

    /* Ширина элемента 100% родителя */
    width: 100%;

    /* Высота элемента 1px */
    height: 1px;

    /* Внешние вертикальные отступы в 40px */
    margin: 40px 0;

    /* Убираем границы элемента */
    border: 0;

    /* Цвет фона элемента */
    background-color: #e5e5e5;
}

/* Контейнер для установления максимальной ширины контента */
.container {

    /* Контент занимает 100% ширины контейнера */
    width: 100%;

    /* Максимальная ширина контейнера 1200px */
    max-width: 1200px;

    /* Выравниваем элементы по верху и центру */
    margin: 0 auto;
}

/*! ----- ГРУППА INTRO ----- */

/* Начальный (первый) блок страницы */
.intro {

    /* Делаем элемент флекс-контейнером */
    display: flex;

    /* Располагаем внутренние флекс-элементы вертикально */
    /* (Основная ось становится вертикальной) */
    flex-direction: column;

    /* Размещаем флекс-элементы по центру основной оси */
    justify-content: center;

    /* Занимает всю ширину родителя */
    width: 100%;

    /* Высота равна всей области просмотра */
    height: 100vh;

    /* Устанавливаем изображение в качестве фона, размещаем его по центру и убираем его повторы */
    background: url("../images/intro.jpg") center no-repeat;

    /* Фоновое изображение занимает всю доступную площадь, но не деформируется */
    background-size: cover;
}

/* Внутренний контейнер начального блока */
.intro__inner {

    /* Ширина элемента 100% */
    width: 100%;

    /* Максимальная ширина элемента 880px */
    max-width: 800px;

    /* Выравнивание по центру */
    margin: 0 auto;

    /* Располагаем элементы контейнера по центру */
    text-align: center;
}

/* Главный заголовок страницы (начальный блок) */
.intro__title {

    /* Цвет текста белый */
    color: #fff;

    /* Размер шрифта 150px */
    font-size: 110px;

    /* Толстое начертание текста */
    font-weight: 700;

    /* Все буквы в верхнем регистре */
    text-transform: uppercase;

    /* Расстояние между строками */
    line-height: 1;
}

/* Псевдоэлемент, идущий после заголовка */
/* (В данном случае, декоративная черта) */
.intro__title::after {

     /* Содержание псевдоэлемента (нужно добавлять в любом случае, чтобы элемент отображался) */
    content: "";

    /* Устанавливаем блочный формат элемента */
    display: block;

    /* Ширина элемента 60px */
    width: 60px;

    /* Высота элемента 3px */
    height: 3px;

    /* Выравниваем элемент по центру и делаем сверху и снизу отступы по 60px */
    margin: 40px auto;

    /* Цвет фона белый */
    background-color: #fff;
}

/* Подзаголовок (располагается над заголовком) */
.intro__suptitle {

    /* Внешний нижний отступ 10px */
    margin-bottom: 10px;

    /* Другой шрифт */
    font-family: 'Kaushan Script', cursive;

    /* Размер шрифта 72px */
    font-size: 60px;

    /* Цвет текста белый */
    color: #fff;
}

/*! ----- ГРУППА HEADER ----- */

/* Верхнее меню (хэдер) */
.header {

    /* Ширина элемента 100% */
    width: 100%;

    /* Внутренний верхний отступ в 30px */
    padding-top: 30px;

    /* Абсолютное позиционирование элемента */
    position: absolute;

    /* Прижимаем элемент в правый верхний угол */
    top: 0;
    left: 0;
    right: 0;

    /* Помещаем элемент поверх всех других */
    z-index: 1000;
}

.header__inner {

    /* Превращаем элемент во флекс-контейнер */
    display: flex;

    /* Равномерно выравнить внутренние флекс-элементы по горизонтали */
    /* (Крайние элементы прижимаются к краям родителя) */
    justify-content: space-between;

    /* Размещаем внутренние флекс-элементы по центру горизонтальной оси */
    align-items: center;
}

/* Логотип хэдера */
.header__logo {

    /* Размер шрифта 30px */
    font-size: 30px;

    /* Толстое начертание */
    font-weight: 700;

    /* Белый цвет текста */
    color: #fff;
}

/*! ----- ГРУППА NAV ----- */

/* Меню навигации хэдера */
.nav {

    /* Размер шрифта 14px */
    font-size: 14px;

    /* Переводим весь текст в верхний регистр */
    text-transform: uppercase;
}

/* Ссылки меню навигации */
.nav__link {

    /* Преобразуем строчные элементы в блочные, стоящие в одном ряду */
    display: inline-block;

    /* Выравнить элементы по верхней части*/
    vertical-align: top;

    /* Боковые отступы в 15px */
    margin: 0 15px;

    /* Статичное позиционирование (в общем потоке), но с возможностью смещения начального положения */
    position: relative;

    /* Цвет текста белый */
    color: #fff;

    /* Убираем нижнее подчёркивание ссылки */
    text-decoration: none;

    /* Время линейной смены цвета */
    transition: color 0.1s linear;
}

/* Псевдоэлемент, идущий после ссылки меню навигации */
/* (В данном случае, нижние полоски под ссылками) */
.nav__link::after {

    /* Содержание псевдоэлемента (нужно добавлять в любом случае, чтобы элемент отображался) */
    content: "";

    /* Преобразуем элемент в блочный формат */
    display: block;

    /* Ширина 100% родительского элемента */
    width: 100%;

    /* Высота 3px */
    height: 3px;

    /* Делаем элемент полностью прозрачным */
    opacity: 0;

    /* Цвет фона */
    background-color: #fce38a;

    /* Абсолютное позиционирование элемента */
    position: absolute;

    /* Располагаем элемент в самом низу */
    top: 100%;

    /* Располагаем элемент слева */
    left: 0;

    /* Уровень приоритета наложения 1 */
    z-index: 1;

    /* Время линейной смены прозрачности */
    transition: opacity 0.1s linear;
}

/* Ссылки меню навигации при наведении курсора */
.nav__link:hover {

    /* Цвет текста */
    color: #fce38a;
}

/* Псевдоэлемент, идущий после ссылки меню навигации при наведении на него курсора */
/* (В данном случае, нижние полоски под ссылками) */
.nav__link:hover::after,
/* Активная ссылка (просто выделение первой ссылки по-умолчанию) */
.nav__link.active::after {

    /* Делаем элемент полностью непрозрачным */
    opacity: 1;
}

/* Активная ссылка (Просто выделение первой ссылки по-умолчанию) */
.nav__link.active {

    /* Цвет текста */
    color: #fce38a;
}

/*! ----- ГРУППА BUTTON ----- */

/* Кнопка */
.btn {

    /* Преобразуем строчные элементы в блочные, стоящие в одном ряду */
    display: inline-block;

    /* Выравнить элементы по верхней части*/
    vertical-align: top;

    /* Внутренние отступы */
    padding: 8px 30px;

    /* Белая сплошная граница шириной в 3px */
    border: 3px solid #fff;

    /* Размер шрифта 14px */
    font-size: 14px;

    /* Толстое начертание шрифта */
    font-weight: 700;

    /* Белый цвет текста */
    color: #fff;

    /* Весь текст в верхнем регистре */
    text-transform: uppercase;

    /* Убираем декоративные элементы текста  */
    text-decoration: none;

    /* Время линейной смены цвета фона и текста */
    transition: background 0.1s linear, color 0.1s linear;
}

/* Кнопка при наведении на неё курсора */
.btn:hover {

    /* Фон белый */
    background-color: #fff;

    /* Цвет текста чёрный */
    color: #333;
}

/*! ----- ГРУППА SLIDER ----- */

/* Слайдер в начальном блоке */
.slider {

    /* Ширина элемента 100% */
    width: 100%;

    /* Абсолютное позиционирование */
    position: absolute;

    /* Прижимаем элемент к нижнему левому углу */
    bottom: 0;
    left: 0;

    /* Уровень наложения 1 */
    z-index: 1;
}

/* Внутреннее содержание слайдера */
.slider__inner {

    /* Превращаем элемент во флекс-контейнер */
    display: flex;

    /* Равномерно выравнить внутренние флекс-элементы по горизонтали */
    /* (Крайние элементы прижимаются к краям родителя) */
    justify-content: space-between;
}

/* Элемент слайдера */
.slider__item {

    /* Ширина элемента 24% */
    width: 23%;

    /* Внутренние вертикальные отступы по 20px */
    padding: 20px 0;

    /* Статичное позиционирование (в общем потоке), но с возможностью смещения начального положения */
    position: relative;

    /* Верхняя граница элемента */
    border-top: 3px solid #fff;

    /* Непрозрачность элемента 70% */
    opacity: 0.7;

    /* Размер шрифта 18px */
    font-size: 18px;

    /* Цвет текста белый */
    color: #fff;

    /* Все буквы в верхнем регистре */
    text-transform: uppercase;
}

/* Активный элемент слайдера */
.slider__item.active {

    /* Непрозрачность элемента 100% */
    opacity: 1;
}

/* Псевдоэлемент, идущий перед активным слайдером */
/* (В данном случае, плоска прогресса над слайдером) */
.slider__item.active::before {

    /* Содержание псевдоэлемента */
    content: "";

    /* Устанавливаем блочное отображение элемента */
    display: block;

    /* Ширина элемента 70px */
    width: 70px;

    /* Высота элемента 3px */
    height: 3px;

    /* Цвет фона элемента */
    background-color: #f38181;

    /* Абсолютное позиционирование позиции */
    position: absolute;

    /* Расположение в вернем левом углу (чуть выше на 3px)*/
    top: -3px;
    left: 0;

    /* Уровень наложения 1 */
    z-index: 1;
}

/* Выделение номера слайдера */
.slider__num {

    /* Размер шрифта 24px */
    font-size: 24px;

    /* Жирное начертание текста */
    font-weight: 700;
}

/*! ----- ГРУППА SECTION ----- */

/* Секция страницы */
.section {

    /* Внутренние вертикальные отступы по 80px */
    padding: 80px 0;
}

/* Модификатор для секции с устройствами */
.section--devices {

    /* Внешний нижний отступ в 40px */
    margin-bottom: 40px;

    /* Убираем внутренний нижний отступ */
    padding-bottom: 0;

    /* Устанавливаем изображение в качестве фона */
    /* (Размещаем изображение по центру без повторений) */
    background: url("../images/devices/devices-bg.jpg") center no-repeat;

    /* Фоновое изображение занимает всю доступную площадь, но не деформируется */
    background-size: cover;
}

/* Модификатор для секции с отзывами */
.section--gray {

    /* Цвет фона */
    background-color: #f8f8f8;
}

/* Хэдер секции */
.section__header {

    /* Ширина элемента 100% */
    width: 100%;

    /* Максимальная ширина элемента 950px */
    max-width: 950px;

    /* Выравниваем элемент по центру и добавляем нижний отступ в 50px */
    margin: 0 auto 50px;

    /* Выравнить весь текст по центру */
    text-align: center;
}

/* Надзаголовок секции */
.section__suptitle {

    /* Семейство шрифта */
    font-family: 'Kaushan Script', cursive;

    /* Размер шрифта 24px */
    font-size: 24px;

    /* Цвет текста */
    color: #333;
}

.section__title {

    /* Размер текста 30px */
    font-size: 30px;

    /* Жирное начертание текста */
    font-weight: 700;

    /* Цвет текста */
    color: #333;

    /* Весь текст в верхнем регистре */
    text-transform: uppercase;
}

/* Псевдоэлемент после заголовка */
.section__title::after {

    /* Содержание псевдоэлемента */
    content: "";

    /* Блочное отображение */
    display: block;

    /* Ширина псевдоэлемента 60px */
    width: 60px;

    /* Высота псевдоэлемента 3px */
    height: 3px;

    /* Выравниваем псевдоэлемент по центру и добавляем вертикальные отступы в 30px */
    margin: 30px auto;

    /* Цвет фона */
    background-color: #f38181;
}

/* Описание (поясняющий текст) секции */
.section__text {

    /* Размер шрифта 15px */
    font-size: 15px;

    /* Цвет текста */
    color: #999;
}

/*! ----- ГРУППА CARD ----- */

/* Блок с изображениями */
.card {

    /* Превращаем элемент во флекс-контейнер */
    display: flex;

    /* Равномерно выравнить внутренние флекс-элементы по горизонтали */
    /* (Крайние элементы прижимаются к краям родителя) */
    justify-content: space-between;

    /* Внешний верхний отступ в 80px */
    margin-top: 80px;
}

/* Блок для конкретного элемент галереи */
.card__item {

    /* Ширина элемента 380px */
    width: 380px;
}

/* Блок для конкретного изображения галереи при наведении курсора на блок для конкретного элемента */
.card__inner:hover .card__img {

    /* Смещаем элемент на 10px вверх и влево */
    transform: translate3d(-10px, -10px, 0);
}

/* Стиль картинки при наведении курсора на содержание блока для конкретного элемента галереи */
.card__inner:hover .card__img img {

    /* Непрозрачность 10% */
    opacity: 0.1;
}

/* Текст поверх иллюстрации при наведении курсора на содержание блока для конкретного элемента галереи */
.card__inner:hover .card__text {

    /* Непрозрачность элемента 100% */
    opacity: 1;
}

/* Содержание блока для конкретного элемента галереи */
.card__inner {

    /* Статичное позиционирование, но с возможностью смещения поверх других элементов */
    position: relative;

    /* Цвет фона */
    background-color: #95e1d3;
}

/* Блок для конкретного изображения */
.card__img {

    /* Добавляем градиентный фон (идущий сверху вниз) */
    background: linear-gradient(to bottom, #f38181, #fce38a);

    /* Добавляем линейный переход в 0.2s при трансформации позиции элемента */
    transition: transform 0.2s linear;
}

/* Изображение */
.card__img img {

    /* Блочное отображение элемента */
    display: block;

    /* Линейный переход в 0.1s при изменении прозрачности элемента */
    transition: opacity 0.1s linear;
}

/* Текст поверх иллюстрации */
.card__text {

    /* Ширина 100% от родителя */
    /* (Нужно прописать для корректной работы "position: absolute;") */
    width: 100%;

    /* Размер шрифта 18px */
    font-size: 18px;

    /* Цвет текста белый */
    color: #fff;

    /* Весь текст в верхнем регистре */
    text-transform: uppercase;

    /* Жирное начертание шрифта */
    font-weight: 700;

    /* Расположить текст по центру */
    text-align: center;

    /* Непрозрачность элемента 0% */
    opacity: 0;

    /* Абсолютное позиционирование */
    position: absolute;

    /* Выравниваем элемент по центру и присваиваем более высокий индекс наложения */
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    /* Линейный переход в 0.2s при изменении прозрачности элемента */
    transition: opacity 0.2s linear;
}

/* Блок с информацией о человеке на изображении */
.card__info {

    /* Внешний верхний отступ */
    margin-top: 20px;

    /* Выравниваем текст по центру */
    text-align: center;
}

/* Имя человека на изображении (текст) */
.card__name {

    /* Внешний нижний отступ */
    margin-bottom: 5px;

    /* Размер текста */
    font-size: 14px;

    /* Цвет текста */
    color: #333;

    /* Весь текст в верхнем регистре */
    text-transform: uppercase;
}

/* Профессия человека на изображении (текст) */
.card__prof {

    /* Размер текста */
    font-size: 15px;

    /* Стиль текста */
    font-style: italic;

    /* Тонкое начертание текста */
    font-weight: 300;

    /* Цвет текста */
    color: #999;
}

/*! ----- ГРУППА STATISTICS ----- */

/* Блок со статистикой */
.statistics {

    /* Цвет фона */
    background-color: #95e1d3;
}

/* Содержание блока со статистикой */
.stat {

    /* Превращаем элемент во флекс-контейнер */
    display: flex;
}

/* Статистический элемент */
.stat__item {

    /* Распределить элементы как равные по ширине колонки */
    flex: 1 1 0;

    /* Внутренние вертикальные и горизонтальные отступы */
    padding: 70px 25px;

    /* Левая сплошная граница */
    border-left: 2px solid #b5eae0;

    /* Выравнить текст по центру */
    text-align: center;

    /* Цвет текста */
    color: #fff;
}

/* Последний статистический элемент */
.stat__item:last-child {

    /* Правая сплошная граница */
    border-right: 1px solid #b5eae0;
}

/* Статистическая цифра */
.stat__count {

    /* Внешний нижний отступ в 10px */
    margin-bottom: 10px;

    /* Размер текста */
    font-size: 72px;

    /* Жирное начертание текста */
    font-weight: 700;

    /* Интервал между строками текста */
    line-height: 1;
}

/* Статистический текст */
stat__text {

    /* Размер текста */
    font-size: 14px;

    /* Весь текст в верхнем регистре */
    text-transform: uppercase;
}

/*! ----- ГРУППА SERVICES ----- */

/* Блок с корточками сервисов */
.services {

    /* Превращаем элемент во флекс-контейнер */
    display: flex;
}

/* Карточка с сервисом */
.services__item {

    /* Распределить элементы как равные по ширине колонки */
    flex: 1 1 0;

    /* Внутренний левый отступ в 85px */
    padding-left: 85px;

    /* Внутренний правый отступ в 35px */
    padding-right: 35px;

    /* Статичное позиционирование, но с возможностью смещения поверх других элементов */
    /* (Это также касается внутренних элементов блока) */
    position: relative;
}

/* Иллюстрация карточки с сервисом */
.services__icon {

    /* Абсолютное позиционирование элемента */
    position: absolute;

    /* Размещаем элемент в верхнем левом углу с индексом наложения 1 */
    /* Добавляем отступ слева в 28px */
    top: 0;
    left: 28px;
    z-index: 1;
}

/* Заголовок карточки с сервисом */
.services__title {

    /* Внешний нижний отступ в 10px */
    margin-bottom: 10px;

    /* Размер текста 14px */
    font-size: 14px;

    /* Цвет текста */
    color: #333;

    /* Весь текст в верхнем регистре */
    text-transform: uppercase;
}

/* Текст карточки с сервисом */
.services__text {

    /* Размер текста 15px */
    font-size: 15px;

    /* Цвет текста */
    color: #999;
}

/*! ----- ГРУППА DEVICES ----- */

/* Блок с иллюстрациями устройств */
.devices {

    /* Ширина элемента 100% родителя */
    width: 100%;

    /* Максимальная ширина элемента 600px */
    max-width: 600px;

    /* Выравнить элемент по центру */
    margin: 0 auto;

    /* Статичное позиционирование, но с возможностью смещения поверх других элементов */
    /* (Это также касается внутренних элементов блока) */
    position: relative;
}

/* Изображение с устройством */
.devices__item {

    /* Блочное отображение элемента */
    display: block;
}

/* Изображение с iPhone */
.devices__item--iphone {

    /* Абсолютное позиционирование элемента */
    position: absolute;

    /* Располагаем элемент в нижнем правом углу с индексом наложения 1 */
    /* Сдвигаем элемент на 80px ниже низа родителя */
    bottom: -80px;
    right: 0;
    z-index: 1;
}

/*! ----- ГРУППА WEDO -----  */

/* Блок с контентом, описывающим деятельность */
.wedo {

    /* Превращаем элемент во флекс-контейнер */
    display: flex;
}

/* Элемент блока с описанием деятельности */
.wedo__item {

    /* Ширина элемента 50% родителя */
    width: 50%;
}

/*! ----- ГРУППА ACCORDION -----  */

/* Элемент раскрывающегося списка */
.accordion__item {

    /* Внешний нижний отступ */
    margin-bottom: 10px;

    /* Сплошная граница шириной в 1px */
    border: 1px solid #e5e5e5;
}

/* Блок с текстом раскрывающегося списка */
/* Когда элемент раскрывающегося списка находится в развёрнутом (активном) состоянии */
.accordion__item.active
.accordion__content {

    /* Блочное отображение элемента */
    display: block;
}

/* Заголовок раскрывающегося списка */
/* Когда элемент раскрывающегося списка находится в развёрнутом (активном) состоянии */
.accordion__item.active
.accordion__header {

    /* Цвет нижней границы элемента */
    border-bottom-color: #e5e5e5;
}

/* Псевдоэлемент, идущий после заголовка раскрывающегося списка */
/* Когда элемент раскрывающегося списка находится в развёрнутом (активном) состоянии */
.accordion__item.active
.accordion__header::after {

    /* Внешний верхний отступ в 5px */
    margin-top: 5px;

    /* Поднимаем псевдоэлемент вверх на 50% для выравнивания */
    /* Поворачиваем псевдоэлемент на -45 градусов */
    transform: translateY(-50%) rotate(-45deg);
}

/* Заголовок раскрывающегося списка */
.accordion__header {

    /* Внутренние отступы */
    padding: 15px 20px 15px 65px;

    /* Статичное позиционирование с возможностью сдвига */
    position: relative;

    /* Прозрачная нижняя сплошная граница в 1px */
    border-bottom: 1px solid transparent;

    /* Делаем элемент кликабельным (появляется курсор при наведении) */
    cursor: pointer;
}

/* Псевдоэлемент, идущий после заголовка раскрывающегося списка */
.accordion__header::after {

    /* Содержание псевдоэлемента */
    content: "";

    /* Блочное отображение */
    display: block;

    /* Ширина 16px */
    width: 16px;

    /* Высота 16px */
    height: 16px;

    /* Внешний нижний отступ в -3px */
    margin-top: -3px;

    /* Сплошная верхняя граница в 2px */
    border-top: 2px solid #ccc;

    /* Сплошная правая граница в 2px */
    border-right: 2px solid #ccc;

    /* Абсолютное позиционирование */
    position: absolute;

    /* Задаём позицию элемента */
    top: 50%;
    right: 20px;
    z-index: 1;

    /* Поднимаем псевдоэлемент вверх на 50% для выравнивания */
    /* Поворачиваем псевдоэлемент на 135 градусов */
    transform: translateY(-50%) rotate(135deg);
}

/* Значок заголовка */
.accordion__icon {

    /* Абсолютное позиционирование */
    position: absolute;

    /* Задаём позицию элемента */
    /* Позиция задаётся относительно соответствующего края */
    top: 50%;
    left: 20px;
    z-index: 1;

    /* Поднимаем элемент вверх на 50% для выравнивания */
    transform: translateY(-50%);
}

/* Текст заголовка */
.accordion__title {

    /* Размер текста 14px */
    font-size: 14px;

    /* Цвет текста */
    color: #333;

    /* Весь текст в верхнем регистре */
    text-transform: uppercase;
}

/* Блок с текстом раскрывающегося списка */
.accordion__content {

    /* Внутренние вертикальные отступы в 15px */
    /* Внутренние горизонтальные отступы в 20px */
    padding: 15px 20px;

    /* По-умолчанию скрываем элемент */
    display: none;

    /* Размер текста 15px */
    font-size: 15px;

    /* Цвет текста */
    color: #999;

    /* Стиль шрифта italic */
    font-style: italic;

    /* Тонкое начертание шрифта */
    font-weight: 300;
}

/*! ----- ГРУППА REVIEWS ----- */

/* Блок с отзывами */
.reviews {

    /* Статичное позиционирование, но с возможностью сдвига */
    position: relative;

    /* Внутренние отступы */
    padding: 0 110px;
}

/* Элемент блока с отзывами */
.reviews__item {

    /* Внутренний левый отступ */
    padding-left: 205px;

    /* Статичное позиционирование, но с возможностью сдвига */
    position: relative;
}

/* Иллюстрация к отзыву */
.reviews__photo {

    /* Сплошная рамка */
    border: 3px solid #95e1d3;

    /* Абсолютное позиционирование */
    position: absolute;

    /* Задаём позицию элемента */
    top: 0;
    left: 0;
    z-index: 1;
}

/* Текст отзыва */
.reviews__text {

    /* Внешний нижний отступ */
    margin-bottom: 15px;

    /* Размер текста */
    font-size: 24px;

    /* Начертание шрифта italic */
    font-style: italic;

    /* Тонкое начертание шрифта */
    font-weight: 300;

    /* Цвет текста */
    color: #999;
}

/* Имя автора отзыва */
.reviews__author {

    /* Семейство шрифта */
    font-family: 'Kaushan Script', cursive;

    /* Размер текста */
    font-size: 24px;

    /* Цвет текста */
    color: #333;
}

/* Псевдоэлемент, идущий перед именем автора */
.reviews__author::before {

    /* Содержание элемента */
    content: "";

    /* Блочно-линейное отображение */
    display: inline-block;

    /* Выравниваем по центру по вертикали */
    vertical-align: middle;

    /* Ширина */
    width: 60px;

    /* Высота */
    height: 3px;

    /* Внешний правый отступ */
    margin-right: 10px;

    /* Цвет фона */
    background-color: #f38181;
}

/* Стрелка для переключения отзывов */
.reviews__btn {

    /* Размер текста */
    font-size: 0;

    /* Прозрачный текст */
    color: transparent;

    /* Абсолютное позиционирование */
    position: absolute;

    /* Позиция элемента относительно верхнего края */
    top: 50%;

    /* Индекс наложения */
    z-index: 1;

    /* Смещаем вверх на 50% родителя */
    transform: translateY(-50%);
}

/* Псевдоэлемент - стрелка для переключения отзывов */
.reviews__btn::after {

    /* Содержание псевдоэлемента */
    content: "";

    /* Блочное отображение */
    display: block;

    /* Ширина 16px */
    width: 16px;

    /* Высота 16px */
    height: 16px;

    /* Внешний нижний отступ в -3px */
    margin-top: -3px;

    /* Сплошная верхняя граница в 2px */
    border-top: 2px solid #ccc;

    /* Сплошная левая граница в 2px */
    border-left: 2px solid #ccc;
}

/* Стрелка для перехода к предыдущему отзыву */
.reviews__btn--prev {

    /* Позиционирование относительно левого края */
    left: 0;

    /* Поворачиваем элемент на -45 градусов */
    transform: rotate(-45deg);
}

/* Стрелка для перехода к предыдущему отзыву */
.reviews__btn--next {

    /* Позиционирование относительно правого края */
    right: 0;

    /* Поворачиваем элемент на 135 градусов */
    transform: rotate(135deg);
}

/*! ----- ГРУППА SOCIAL ----- */

/* Блок для иконок социальных сетей */
.social {

    /* Превращаем элемент во флекс-контейнер */
    display: flex;

    /* Выравниваем внутренние элементы по центру */
    justify-content: center;
}


/* Элементы, содержащие иконки социальных сетей (ссылки) */
.social__item {

    /* Ширина элемента */
    width: 55px;

    /* Высота элемента */
    height: 55px;

    /* Внутренние отступы */
    padding: 12px 10px;

    /* Цвет фона */
    background-color: #fce38a;

    border-right: 1px solid #f38181;

    /* Убираем декорированние элементов */
    /* (В данном случае подчёркивание ссылок) */
    text-decoration: none;

    /* Размер иконок */
    font-size: 30px;

    /* Цвет содержимого элемента */
    color: #f38181;

    /* Высота элемента */
    line-height: 1;

    /* Плавный переход при изменении цвета фона и содержимого */
    transition: background-color 0.1s linear, color 0.1s linear;
}

/* Последний элемент */
/* Элементы, содержащие иконки социальных сетей (ссылки) */
.social__item:last-child {

    /* Убираем правую границу */
    border-right: 0;
}

/* При наведении курсора */
/* Элементы, содержащие иконки социальных сетей (ссылки) */
.social__item:hover {

    /* Цвет содержимого */
    color: #fff;

    /* Цвет фона */
    background-color: #f38181;
}

/*! ----- ГРУППА LOGOS ----- */

/* Блок с логотипами */
.logos {

    /* Превращаем элемент во флекс-контейнер */
    display: flex;

    /* Равномерно распределяем флекс-элементы */
    /* (Боковые флекс-элементы прижимаем к краям) */
    justify-content: space-between;
}






